@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.field-underline{
  border-bottom: 1.75px dotted black;
width: 100%;
display: block;
}

td[rowspan] {
  vertical-align: top;
  text-align: left;
}

td,th{
  border: 1px solid black;
  padding: 4px;
}

.text-shadow{
  
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 14px; 
  paint-order: stroke fill;
}