@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  background: #000000;
  background-image: linear-gradient(113deg, #1D0B0D 5.64%, #050203 88.31%);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.field-underline{
  border-bottom: 1.75px dotted white;
width: 100%;
display: block;
}


td[rowspan] {
  vertical-align: top;
  text-align: left;
}

td,th{
  border: 1px solid white;
  padding: 4px;
}

.text-shadow{
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 14px; 
  paint-order: stroke fill;
}

.main-bg {
  background: linear-gradient(113deg, #1D0B0D 10.64%, #050203 88.31%);
}

input, textarea, select {
  background: rgba(255, 255, 255, 0.1) !important;
}